footer
  .container.text-center
    p.pull-left © 2015 HackIllinois
    ul.pull-right.list-inline
      li
        p Co-Hosted by <a href="http://www.inin.com/">Interactive Intelligence</a> with <a href="http://cs.illinois.edu/">CS@Illinois</a>, <a href="http://www.ece.illinois.edu/">ECE Illinois</a>, <a href="http://www.acm.uiuc.edu/">ACM@UIUC</a> and <a href="http://www.ieee.illinois.edu/">IEEE UIUC</a>