extends layout

block content
  .page-header
    h3 Challenges

  h3 HTML
  h4 <a href="/challenge/1">Challenge #1</a>
  h4 <a href="#">Challenge #2</a>
  h4 <a href="#">Challenge #3</a>
  h4 <a href="#">Challenge #4</a>

  h3 Javascript
  h4 <a href="#">Challenge #1</a>
  h4 <a href="#">Challenge #2</a>
  h4 <a href="#">Challenge #3</a>

  h3 Android
  h4 <a href="#">Challenge #1</a>
  h4 <a href="#">Challenge #2</a>
  h4 <a href="#">Challenge #3</a>
  h4 <a href="#">Challenge #4</a>
