extends ../layout

block content
  
  h3 Challenge #1
  p 2 + 2 = ?
  input(type='text', value="", id="question1")
  input(type='button', value='Submit', onclick='checkAnswer()')

  script(type='text/javascript' src='answers.js')
